.projects {
  background-color: var(--black);
  padding: 15px;
  height: 100vh;
}

.projects__border {
  border: 1px solid var(--beige);
  padding: 15px;
  padding-top: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projects__title {
  font-family: 'Water Brush', sans-serif;
  font-weight: normal;
  font-size: 2.1875rem;
  font-size: clamp(2.1875rem, 1.625rem + 2.8125vw, 5rem);
  color: var(--beige);
  margin-bottom: 10px;
}

.projects__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  flex-grow: 1;
}

.projects__display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__image {
  width: 90%;
  max-width: 200px;
  border-radius: 100px 100px 0 0;
}

.projects__info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects__white-arrow {
  width: 25px;
}

.projects__description {
  font-size: 9px;
}

.projects__portfolio {
  text-align: center;
  font-size: 0.625rem;
  font-size: clamp(0.625rem, 0.5rem + 0.625vw, 1.25rem);
  text-transform: uppercase;
  letter-spacing: 1.3px;
  margin-top: auto;
}

.projects__portfolio-link {
  text-decoration: none;
  color: var(--white);
  border: 1px solid var(--white);
  padding: 5px;
  transition: all 0.5s;
}

.projects__portfolio-link:hover {
  background-color: var(--white);
  color: var(--black);
  letter-spacing: 2px;
}

/* ===================== Media Queries ===================== */

/* For larger iPhones (e.g., iPhone 8 Plus and similar) */
@media (min-width: 390px) and (max-width: 767px) {
  .projects__content {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  .projects__image {
    width: 65%;
  }

  .projects__portfolio {
    padding-top: 20px;
  }
}

/* For devices with a 4:3 aspect ratio (e.g., tablets) */
@media (aspect-ratio: 3/4) {
  .projects__image {
    width: 80%;
  }

  .projects__content {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* For iPads in portrait and landscape mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .projects__image {
    width: 80%;
    max-width: 250px;
    border-radius: 200px 200px 0 0;
  }

  .projects__portfolio {
    padding-top: 20px;
  }
}

/* For Computers and large devices in landscape mode */
@media (min-width: 1024px) and (orientation: landscape) {
  .projects__title {
    margin-bottom: 20px;
  }

  .projects__content {
    grid-template-columns: repeat(6, 1fr);
  }

  .projects__portfolio {
    padding-top: 20px;
  }
}

/* ====== Landscape Mode ====== */

/* For smaller iPhones like iPhone SE in landscape mode */
@media (min-height: 320px) and (max-height: 376px) and (orientation: landscape) {
  .projects__image {
    width: 85%;
  }

  .projects__content {
    grid-template-columns: repeat(6, 1fr);
  }

  .projects__portfolio {
    padding-top: 10px;
  }
}

/* For larger iPhones and devices in landscape mode */
@media (min-width: 844px) and (max-width: 1023px) and (orientation: landscape) {
  .projects__image {
    width: 75%;
  }

  .projects__content {
    grid-template-columns: repeat(6, 1fr);
  }

  .projects__portfolio {
    padding-top: 10px;
  }
}

/* For devices with a 4:3 aspect ratio (e.g., landscape tablets) */
@media (aspect-ratio: 4/3) and (max-width: 721px) {
  .projects__image {
    width: 100%;
  }

  .projects__content {
    grid-template-columns: repeat(6, 1fr);
  }
}