.welcome {
  color: var(--welcome-text-color);
  height: 100vh;
}

.welcome__title {
  font-family: 'EB Garamond', sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  font-size: clamp(1.75rem, 1.35rem + 2vw, 3.75rem);
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 60px;
}

.welcome__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10px;
}

.welcome__text {
  /*width: 55%;*/
  flex: 2;
}

.welcome__greeting {
  font-family: 'Clicker Script', sans-serif;
  font-weight: normal;
  font-size: 2.8125rem;
  font-size: clamp(2.8125rem, 2.375rem + 2.1875vw, 5rem);
}

.welcome__name {
  font-family: 'EB Garamond', sans-serif;
  font-weight: 400;
  font-size: 1.4375rem;
  font-size: clamp(1.4375rem, 0.975rem + 2.3125vw, 3.75rem);
  line-height: 25px;
}

.welcome__role {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 0.5rem;
  font-size: clamp(0.5rem, 0.4rem + 0.5vw, 1rem);
  line-height: 22px;
}

.welcome__image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.welcome__profile-image {
  width: 100%;
  max-width: 250px;
  height: auto;
  border: 1px solid #C5BBAE;
  border-radius: 100px;
  margin-bottom: 10px;
}

.welcome__contact {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  transition: transform 0.5s;
}

.welcome__black-arrow {
  width: 18px;
}

.welcome__contact-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.4375rem;
  font-size: clamp(0.4375rem, 0.275rem + 0.8125vw, 1.25rem);
  text-wrap: nowrap;
  text-decoration: none;
  color: black;
}

.welcome__contact:hover {
  transform: translateY(-5px);
}